.header-section.style-4 a.lab-btn.custom-lab-btn {
  background-color: #DCA54A;
}
@media(max-width: 991px){
  .header-section.style-4 .menu>ul{
    background-color: #DCA54A !important;
  }
  .header-section.style-4 .menu>ul li a:hover {
    background: #D09A40 !important;
}
}
.banner-section.style-4 {
  background-image: url(/src/assets/images/bg-img/shopBackground.jpg) !important;
}
.banner-section.style-4 .banner-content h2 span {
  font-weight: 500 !important;
  color: #DCA54A !important;
}
ul{
  list-style: none;
}

.dropdown {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  max-height: 300px;
  overflow-y: scroll;
}
.subtitle{
  color:#DCA54A !important;
}
.course-filter-group .lab-ul li:hover {
  background-color: #DCA54A !important;
  cursor: pointer; /* Optional: adds a pointer cursor on hover */
}

.course-item.style-4 .course-inner .course-thumb .course-category {
  background: #DCA54A !important;
}
.course-side-detail .csd-content .sidebar-social .ss-content ul li a.rss, .app-section .section-header .lab-btn:hover, .register-section .section-wrapper .register-form .lab-btn, .clients-section.style-3 .section-wrapper .clients-slider-nav:hover, .clients-section.style-3 .section-wrapper .client-item .client-inner .client-thumb .quote, .feature-section.style-3 .section-wrapper .feature-register, .feature-section.style-3 .section-wrapper .feature-item .feature-inner .feature-content .lab-btn-text span::after, .feature-section.style-3 .section-wrapper .feature-item .feature-inner .feature-content .lab-btn-text span::before, .feature-section.style-3 .section-wrapper .feature-item .feature-inner .feature-content .lab-btn-text span, .feature-section.style-2 .section-wrapper .feature-item .feature-inner:hover .feature-icon, .newsletters-section.style-2 .newsletter-area .section-wrapper .newsletter-form button, .event-section.style-2 .section-wrapper .event-navi-item:hover, .event-section.style-2 .section-wrapper .event-navi-item.active, .instructor-section.style-3 .section-wrapper .instructor-bottom .instructor-slider .instructor-navi.active, .instructor-section.style-3 .section-wrapper .instructor-bottom .instructor-slider .instructor-navi:hover, .instructor-section.style-2 .section-wrapper .count-item:nth-child(3n+3) .count-inner .count-icon i, .instructor-section.style-2::after, .offer-section .section-wrapper .lab-btn, .contact-info-section .section-wrapper .cinfo-or, .about-section.style-4 .about-item .counter-part .count-item:nth-child(3n+3) .count-inner .count-icon i, .course-section.style-4, .course-section.style-3 .section-header .course-filter-group ul li.active, .course-section.style-3 .section-header .course-filter-group ul li:hover, .category-section.style-4 .section-wrapper .lab-btn:hover, .category-section.style-4 .section-wrapper .category-item .category-inner .category-content .cate-icon, .banner-section.style-7 .section-wrapper .banner-top .banner-content .lab-btn:hover, .header-section.style-7 .header-bottom .header-wrapper .menu-area .signup, .header-section.style-5 .header-bottom .lab-btn, .header-section.style-5 .header-bottom .menu>ul>li ul li a:hover, .header-section.style-5 .header-bottom .menu>ul>li ul li a.active, .header-section.style-4 .lab-btn, .header-section.style-4 .menu>ul li ul li a:hover, .header-section.style-4 .menu>ul li ul li a.active, .event-item.style-2 .event-inner .event-content .lab-btn, .event-item.style-2 .event-inner .event-content h5, .scrollToTop.yellow-color i, .yellow-color-section .post-item.style-3 .post-inner .post-content .lab-btn:hover, .yellow-color-section .section-wrapper .course-item.style-3 .course-inner .course-content .lab-btn, .yellow-color-section .section-wrapper .course-item.style-3 .course-inner .course-thumb ul li .price, .yellow-color-section .section-header .course-navi {
    background: #DCA54A !important;
}
.footer-item.our-address .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers vertically */
  align-items: center; /* Centers horizontally */
  text-align: center;
  height: 100%; /* Adjust if required */
}
.course-side-detail .csd-content .sidebar-social .ss-content ul li a.twitter, .social-icons li a.twitter {
  background: black !important;
}
.bg-button-color {
  background-color: #DCA54A !important;
}
.default-pagination li a:hover, .default-pagination li a.active {
  background: #DCA54A !important;
  box-shadow: none;
  color: #fff;
}
button.m-2.bg-warning {
  background-color: #DCA54A !important;
}